<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    <!-- useGeneratedKeys 返回主键值 dish_id 给插入菜品口味时用 -->
    <!-- keyProperty 主键值赋值给 id -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish
        (name, category_id, price, image, description, status,
        create_time, update_time, create_user, update_user)
        VALUES
        (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status},
        #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        SELECT d.*, c.name AS category_name
        FROM dish d
        LEFT JOIN category c
        ON d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                AND d.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND d.status = #{status}
            </if>
            <if test="categoryId != null">
                AND d.category_id = #{categoryId}
            </if>
        </where>
        ORDER BY d.update_time DESC
    </select>
    <select id="countByIdsAndStatus" resultType="java.lang.Integer">
        SELECT count(*) FROM dish
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND status = #{status}
    </select>
    <delete id="deleteBatch">
        DELETE FROM dish
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>